body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.clickable-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.clickable-image.enlarged {
    transform: scale(2); /* Scale image to 2x size */
}

